<div class="catalogue">

    {% for book in site.data.meta.titles %}

        {% if book[1].modified != "" %}
        
        <div class="catalogue-thumbnail">
        
            <p class="image"><a href="{{ book[0] }}"><img src="{{ book[0] }}/en/{{site.image-set}}/cover.jpg" /></a></p>
        
            <p class="catalogue-thumbnail-label"><a href="{{ book[0] }}">{{book[1].title}}</a></p>

            <p class="catalogue-thumbnail-translations">Read in
                
                <a href="{{ book[0] }}/{{ book[1].language }}">
                {% capture code-original %}{{ book[1].language }}{% endcapture %}
                {{ site.data.language-codes.[code-original] }}</a>{% if book[1].translations %},{% endif %}

                {% if book[1].translations %}
                    {% for lang in book[1].translations %}
                    {% capture code %}{{ lang[0] }}{% endcapture %}
                    <a href="{{ book[0] }}/{{ lang[0] }}">{{ site.data.language-codes.[code] }}</a>{% unless forloop.last == true %}, {% endunless %}{% endfor %}
                {% endif %}
                
            </p>
        
        </div>
        
        {% endif %}

    {% endfor %}

</div>